<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script
      src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <%- include('includes/nav') %>
   <!-- Masthead-->
   <header class="masthead h-50 d-flex align-items-center">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <% if (typeof(message) !=="undefined" ) { %>
          <div <% if( typeof(errors)==="undefined" ){ %> class="" <% } else { %> class="alert alert-danger me-4" <%
                    } %>>
            <%= message %>
          </div>
          <% } %>
          <h1 class="mx-auto my-0 text-uppercase">Authors</h1>
        </div>
      </div>
    </div>
  </header>
    <!-- Authors-->
    <section class="projects-section bg-light" id="books">
      <div class="container px-4 px-lg-5">
        <% if (typeof(data) !== "undefined") { %>
        <div class="row mb-lg-5 d-flex justify-content-end">
          <div class="col-auto"> <a href="/authors/addauthor" class="btn btn-primary ">
            + Add an Author
          </a></div>
        </div>
  
        <div class="row gx-4 gy-4 ">
    
              <% data.authors.map((item, index) => { %>
                <div class="col-lg-6 order-lg-first">
                  <div class="bg-black h-100 project">
                    <div class="d-flex">
                      <div class="project-text w-100 my-auto  text-lg-right">
                     <div class="d-flex justify-content-between gap-x-2">  
                      <h4 class="text-white"><%- item.name %></h4>
                     <a href="/authors/<%- item._id %>"> <i class="fa fa-edit fa-2x mb-2"></i></a>
                     </div>
                       <div class="row gy-2 mt-lg-3">
                        <p class="mb-0 text-white-50">Publisher - <%- item.publisher %></p>
                        <p class="mb-0 text-white-50">Website - <%- item.website %></p>
                        <p class="mb-0 text-white-50">Twitter - <%- item.twitter %></p>
                        <p class="mb-0 text-white-50">Bio - <%- item.about %></p>
                       
                     
                       </div>
                       <div class="d-flex justify-content-end">
                         <button class="delete-btn" onclick="handleDeleteAuthor('<%- item._id %>')" type="button"><i class="fa fa-trash-alt fa-2x mb-2"></i></button>
                       </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% }) %>
    
        </div>
        <% } %>
      </div>
    </section>



    <!-- Footer-->
    <%- include('includes/footer') %>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
  </body>
</html>
